
h3 {
  text-align: center;
  font-size: 150%;
}

p {
  text-indent: 20px;
  text-align: justify;
}

div.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50%;
  text-align: center;
  border-style: solid;
  padding: 10px;
  border-width: 2px;
  border-radius: 20px;
}

span.emp {
  font-style: oblique;
}

span.voca {
  font-weight: bold;
}

div.bullet {
  text-indent: -20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 60px;
}

div.bullet::before {
  content: "\261e ";
}

div.rzstep {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

div.rzs_head {
  font-weight: bold;
  font-size: 120%;
  padding: 5px;
  text-align: center;
}

div.rzs_b_note {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 10%;
  font-size: 90%;
}

div.rzs_b_note:before {
  font-weight: bold;
  content: "NOTE: ";
}

div.rzs_ans {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 15%;
  padding: 5px;
}


div.rzs_if {
  margin: 5px;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-weight: bold;
  font-size: 110%;
}

div.rzs_then {
  margin: 5px;
}


/*
The "lbset" span class is used in the razors to define
a new label.
*/
span.lbset {
  font-weight: bold;
}

span.lbset:before {
  font-weight: normal;
  content: "(hereby labeled as \201C";
}

span.lbset:after {
  font-weight: normal;
  content: "\201D)";
}

/*
The "lbuse" span class is used in the razors to invoke
a previously defined label.
*/
span.lbuse {
  font-weight: 600;
}




