
h2 {
  text-align: center;
  font-size: 200%;
}

h3 {
  text-align: center;
  font-size: 160%;
}

p {
  text-indent: 20px;
}

div.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50%;
  text-align: center;
  border-style: solid;
  padding: 10px;
  border-width: 2px;
  border-radius: 20px;
}

span.vocab {
  font-weight: bold;
}

div.extresrc {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
}

div.extres_name {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  text-align: center;
  font-weight: bold;
  font-size: 120%;
}

div.extres_link {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  text-align: center;
  font-style: oblique;
}

div.extres_dscrip {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  text-align: justify;
}

